.idea
**/.idea/

# Ignorar todas las carpetas llamadas venv o env
**/venv/
**/env/
**/.env/

# Ignorar todas las carpetas __pycache__
**/__pycache__/

# Ignorar todos los archivos dump.rdb
**/dump.rdb
